entrypoint = "pali.sona"

hidden = [
  ".config", "package.json", "package-lock.json",
  "flake.lock", "repl.js", "sona.js", ".github", "lsp",
  "test", ".gitignore", "flake.nix", "LICENSE", "namako.nix",
  "sona.png", "README.md"
]
# Create our main file if it does not exist.
onBoot = "touch $REPL_HOME/pali.sona"
compile = "touch $REPL_HOME/pali.sona"

[interpreter]
command = [
    "namako", "-i", "pali.sona"
]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/.config/npm/node_global/bin:$REPL_HOME/node_modules/.bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[packager]
language = "sona.js"

[languages]
[languages.sona]
pattern = "**/{*.sona,*.namako}"
[languages.sona.languageServer]
start = "namako-language-server --stdio"
